<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="inicio-container">
        <h1>Paginón de inicio guapo</h1>
        <p>Elige una opción:</p>
        <div class="buttons">
            <a href="login" class="btn">Iniciar Sesión</a> <br><br>
            <a href="register" class="btn">Registrarse</a>
        </div>
    </div>
</body>
</html>
